In [2]:
import pandas as pd

In [3]:
covidData = pd.read_excel("../database/dados-agrupados.xlsx")

In [4]:
#Visualizando Dados
covidData.head()
covidData.shape

(1688, 169)

In [5]:
#Verificando a dimensão da Tabela
covidData.shape

(1688, 169)

# Pré-processamento dos Dados

In [6]:
#Verificando a quantidade de dados faltantes por colunas
faltantes = covidData.isnull().sum()
faltantes_percentual = (covidData.isnull().sum() / len(covidData['DT_NOTIFIC'])) * 100

In [7]:
#Exibindo a porcentagem/quantidade de dados ausentes
print(faltantes_percentual['DIABETES'])
print(faltantes_percentual['EVOLUCAO'])

print(faltantes['EVOLUCAO'])

68.24644549763033
19.01658767772512
321

In [16]:
#Salvando todos os dados que não possuem a evolução vazia
newData = covidData.loc[covidData['EVOLUCAO'].notnull()]

In [17]:
#Visualizando as novas dimensões dos novos dados
newData.shape

(1367, 169)

In [18]:
#Imprimindo o novo dataset
newData

,NU_NOTIFIC,DT_NOTIFIC,SEM_NOT,DT_SIN_PRI,SEM_PRI,SG_UF_NOT,ID_REGIONA,CO_REGIONA,ID_MUNICIP,CO_MUN_NOT,...,TP_AM_SOR,SOR_OUT,DT_CO_SOR,TP_SOR,OUT_SOR,DT_RES,RES_IGG,RES_IGM,RES_IGA,NU_DO
0,315843770177,2020-03-11,11,08/03/2020,11,RN,II URSAP,1412,MOSSORO,240800,...,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,315863711481,2020-03-18,12,03/03/2020,10,RN,II URSAP,1412,MOSSORO,240800,...,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0
3,315867978560,2020-03-18,12,12/03/2020,11,RN,II URSAP,1412,MOSSORO,240800,...,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0
4,315863717020,2020-03-19,12,10/03/2020,11,RN,II URSAP,1412,MOSSORO,240800,...,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0
5,315867989608,2020-03-19,12,14/03/2020,11,RN,II URSAP,1412,MOSSORO,240800,...,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,316103850603,2021-01-09,1,2020-12-13 00:00:00,51,RN,II URSAP,1412,MOSSORO,240800,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1681,316106530261,2021-01-11,2,2020-12-20 00:00:00,52,RN,II URSAP,1412,MOSSORO,240800,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1682,316119463775,2021-01-11,2,2020-12-30 00:00:00,53,RN,II URSAP,1412,MOSSORO,240800,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1684,316106445601,2021-01-14,2,2020-12-30 00:00:00,53,RN,II URSAP,1412,MOSSORO,240800,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1687,316116045238,2021-01-22,3,2020-12-28 00:00:00,53,RN,II URSAP,1412,MOSSORO,240800,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
novosFaltantes = newData.isnull().sum()
print(novosFaltantes)

NU_NOTIFIC       0
DT_NOTIFIC       0
SEM_NOT          0
DT_SIN_PRI       0
SEM_PRI          0
              ...
DT_RES        1302
RES_IGG       1298
RES_IGM       1296
RES_IGA       1362
NU_DO          358
Length: 169, dtype: int64

In [20]:
#Verificando quantos casos foram óbitos e recuperados
#newData['EVOLUCAO'].value_counts()
newDData = newData.drop(newData[newData.EVOLUCAO == 3].index);
#print(newDData.shape)
#newDData.value_counts()

#newDData['EVOLUCAO'].replace(1, 'OBITO', inplace = True);

#Testando a modificação
#newDData.loc[[0], 'EVOLUCAO'] = 'ÓBITO';
#newDData.EVOLUCAO[0]

In [21]:
#Eliminando os atributos vazios
covidNewData = newDData.loc[newDData['CLASSI_FIN'].notnull()]
covidNewData.shape

(971, 169)

In [14]:
#Calculando os vazios
#attributes = ["CS_SEXO", "NU_IDADE_N", "CS_RACA", "SURTO_SG", "FEBRE", "TOSSE", "GARGANTA", 
#              "DISPNEIA", "DESC_RESP", "SATURACAO", "DIARREIA","VOMITO", "PUERPERA", "CARDIOPATI", 
#              "HEMATOLOGI", "SIND_DOWN", "HEPATICA", "ASMA", "DIABETES", "NEUROLOGIC",	"PNEUMOPATI",
#              "IMUNODEPRE", "RENAL",	"OBESIDADE", "UTI", "SUPORT_VEN", "CLASSI_FIN", "FATOR_RISC", "EVOLUCAO"]
#newData = covidNewData[attributes]
#dados_faltantes = newData.isnull().sum()
#dados_faltantes

In [22]:
# Substituindo o valor das comorbidades
covidNewData.loc[covidNewData.FATOR_RISC == 2, ["PUERPERA", "CARDIOPATI", "HEMATOLOGI",
            "SIND_DOWN", "HEPATICA", "ASMA","DIABETES", "NEUROLOGIC", "PNEUMOPATI",
            "IMUNODEPRE", "RENAL", "OBESIDADE"]] = 2;

covidNewData.RENAL.value_counts()

C:\Users\walla\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

2.0    354
1.0     41
Name: RENAL, dtype: int64

In [23]:
covidNewData.shape

(971, 169)

In [24]:
#Troquei de 2 - 9 / Para Verificar
x = 2;
values9 = {"PUERPERA": x, "CARDIOPATI": x, "HEMATOLOGI": x, "SIND_DOWN": x,
          "HEPATICA": x,"ASMA": x, "DIABETES": x, "NEUROLOGIC": x, "PNEUMOPATI": x,
            "IMUNODEPRE": x, "RENAL": x, "OBESIDADE": x};

newData9 = covidNewData.fillna(value = values9, inplace = False)

In [25]:
#Visualizando os dados substituídos
newData9.RENAL.value_counts()

2.0    930
1.0     41
Name: RENAL, dtype: int64

In [26]:
#Lembrar de trocar para 9
y = 2;
values_symptoms = {"FEBRE": y, "TOSSE": y, "GARGANTA": y, "DISPNEIA": y,
                   "DESC_RESP": y, "SATURACAO": y,"DIARREIA":y,"VOMITO": y};

newData9.fillna(value = values_symptoms, inplace = True)

faltantes = newData9['FEBRE'].isnull().sum()
newData9['FEBRE'].value_counts()
#faltantes

1.0    630
2.0    341
Name: FEBRE, dtype: int64

In [27]:
# Substituindo os valores NULL da coluna Raça
race_values = {'CS_RACA' : 9}
newData9.fillna(value = race_values, inplace = True)
newData9['CS_RACA'].value_counts()

4.0    684
1.0    225
2.0     27
9.0     25
3.0     10
Name: CS_RACA, dtype: int64

In [28]:
# Substituindo os valores NULL da coluna Surto
surto_values = {'SURTO_SG' : 9}
newData9.fillna(value = surto_values, inplace = True)
newData9['SURTO_SG'].value_counts()

2.0    798
1.0    109
9.0     64
Name: SURTO_SG, dtype: int64

In [29]:
# Substituindo os valores NULL da coluna UTI
uti_values = {'UTI' : 2}
newData9.fillna(value = uti_values, inplace = True)
newData9['UTI'].value_counts()

1                      519
2                      408
2                       43
2020-10-08 00:00:00      1
Name: UTI, dtype: int64

In [30]:
# Substituindo os valores NULL da coluna Suporte Ventilatório
sup_values = {'SUPORT_VEN' : 9}
newData9.fillna(value = sup_values, inplace = True)
newData9['SUPORT_VEN'].value_counts()

2.0    474
1.0    263
3.0    180
9.0     53
6.0      1
Name: SUPORT_VEN, dtype: int64

In [31]:
#Salvando todos os dados que não possuem a evolução vazia
covidNewData = newData9.loc[covidData['CLASSI_FIN'].notnull()]
covidNewData.shape

(971, 169)

In [32]:
#Substituindo Valores do campo Sexo
covidNewData['CS_SEXO'].replace('F', 0, inplace = True);
covidNewData['CS_SEXO'].replace('M', 1, inplace = True);
covidNewData.CS_SEXO.value_counts()

1    561
0    410
Name: CS_SEXO, dtype: int64

In [33]:
covidNewData.drop(covidNewData[covidNewData.EVOLUCAO == 9].index, inplace = True)
covidNewData.shape

(971, 169)

In [34]:
#Colocando apenas as instâncias do COVID
covidNewData.drop(covidNewData[covidNewData.CLASSI_FIN == 5].index, inplace = True)
covidNewData.shape

(971, 169)

In [35]:
write = pd.ExcelWriter('dados-com-covid.xlsx')
covidNewData.to_excel(write, 'comCovid', index = False)
write.save()

In [36]:
#Filtrando os atributos
attributes = ["CS_SEXO", "NU_IDADE_N", "CS_RACA", "SURTO_SG", "FEBRE", "TOSSE", "GARGANTA", 
              "DISPNEIA", "DESC_RESP", "SATURACAO", "DIARREIA","VOMITO", "FATOR_RISC", "PUERPERA", "CARDIOPATI", 
              "HEMATOLOGI", "SIND_DOWN", "HEPATICA", "ASMA", "DIABETES", "NEUROLOGIC","PNEUMOPATI",
              "IMUNODEPRE", "RENAL", "OBESIDADE", "UTI", "SUPORT_VEN", "DT_INTERNA", "DT_EVOLUCA", 'EVOLUCAO']

newAttributes = ["NU_IDADE_N", "CS_RACA", "SURTO_SG", "FEBRE", "TOSSE", "GARGANTA", 
              "DISPNEIA", "DESC_RESP", "SATURACAO", "DIARREIA","VOMITO", "CARDIOPATI", 
              "DIABETES", "PNEUMOPATI", "OBESIDADE", "UTI", "SUPORT_VEN", "CLASSI_FIN", "EVOLUCAO"]

dbCovid = covidNewData[attributes];
dbCovid.shape

(971, 30)

In [37]:
#Substituindo as idades por classificação
for i in range (0, 12):
    dbCovid['NU_IDADE_N'].replace(i, 'CRIANCA', inplace = True)
    
for i in range (12, 18):
    dbCovid['NU_IDADE_N'].replace(i, 'JOVEM', inplace = True)
    
for i in range (18, 30):
    dbCovid['NU_IDADE_N'].replace(i, 'ADULTO1', inplace = True)

for i in range (30, 45):
    dbCovid['NU_IDADE_N'].replace(i, 'ADULTO2', inplace = True)

for i in range (45, 60):
    dbCovid['NU_IDADE_N'].replace(i, 'ADULTO3', inplace = True)

for i in range (60, 75):
    dbCovid['NU_IDADE_N'].replace(i, 'IDOSO1', inplace = True)

for i in range (75, 90):
    dbCovid['NU_IDADE_N'].replace(i, 'IDOSO2', inplace = True)

for i in range (90, 115):
    dbCovid['NU_IDADE_N'].replace(i, 'IDOSO3', inplace = True)

C:\Users\walla\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [41]:
#Convertendo o formato da data de internação para o DD/MM/YYYY
aux_time = dbCovid
dbCovid['DT_INTERNA'] = aux_time['DT_INTERNA'].dt.strftime('%d/%m/%Y')
dbCovid['DT_EVOLUCA'] = aux_time['DT_EVOLUCA'].dt.strftime('%d/%m/%Y')

AttributeError: Can only use .dt accessor with datetimelike values

In [42]:
# Imprimindo com a data formatada
dbCovid

,CS_SEXO,NU_IDADE_N,CS_RACA,SURTO_SG,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,...,NEUROLOGIC,PNEUMOPATI,IMUNODEPRE,RENAL,OBESIDADE,UTI,SUPORT_VEN,DT_INTERNA,DT_EVOLUCA,EVOLUCAO
0,0,CRIANCA,9.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2,3.0,2020-03-11 00:00:00,13/03/2020,1
2,1,ADULTO1,4.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,...,2.0,2.0,2.0,1.0,2.0,2,2.0,2020-03-15 00:00:00,31/03/2020,1
3,1,IDOSO2,4.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,...,2.0,2.0,2.0,1.0,2.0,1,2.0,2020-03-17 00:00:00,01/04/2020,1
4,1,IDOSO1,4.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2,2.0,2020-03-13 00:00:00,22/03/2020,1
5,0,ADULTO3,4.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,1,2.0,2020-03-20 00:00:00,11/04/2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296,0,IDOSO2,1.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,...,2.0,1.0,2.0,2.0,2.0,2,2.0,2020-08-28 00:00:00,29/08/2020,2
1297,0,IDOSO1,1.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2,3.0,2020-08-28 00:00:00,01/09/2020,1
1303,1,ADULTO3,4.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,...,1.0,2.0,2.0,2.0,2.0,1,2.0,NaN,02/09/2020,2
1304,0,IDOSO1,4.0,2.0,2.0,1.0,2.0,1.0,2.0,1.0,...,2.0,1.0,2.0,2.0,2.0,2,2.0,2020-08-25 00:00:00,31/08/2020,1
1382,0,ADULTO3,4.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,...,1.0,2.0,2.0,2.0,2.0,2020-10-08 00:00:00,6.0,RN,2020-12-16 00:00:00,2020-10-09 00:00:00

In [43]:
# Preenchendo as datas vazias com 'vazio'
dbCovid['DT_INTERNA'].fillna('Vazio', inplace = True)
dbCovid['DT_EVOLUCA'].fillna('Vazio', inplace = True)

C:\Users\walla\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [44]:
# Convertendo os valores das colunas em vetores
internacao_vector = dbCovid['DT_INTERNA'].array
evolucao_vector = dbCovid['DT_EVOLUCA'].array

#internacao_vector
len(evolucao_vector)

971

In [45]:
# Verificando se o valor NaN foi substituido
#qnt_faltantes = (dbCovid.isnull().sum())
#qnt_faltantes['DT_EVOLUCA']

In [46]:
#Trocando os valor vazios
#Acessar o valor de uma coluna específica: dbCovid.iloc[i]['DT_EVOLUCA'] = dbCovid.iloc[i]['DT_INTERNA']

qnt_dates = dbCovid['DT_EVOLUCA'].shape[0]
i = 0
while(i < qnt_dates):
    if(internacao_vector[i] == 'Vazio'):
        internacao_vector[i] = evolucao_vector[i]
    
    if(evolucao_vector[i] == 'Vazio'):
        evolucao_vector[i] = internacao_vector[i]
    i = i + 1

evolucao_vector

<PandasArray>
[                         '13/03/2020',                          '31/03/2020',
                          '01/04/2020',                          '22/03/2020',
                          '11/04/2020',                          '17/04/2020',
                          '20/03/2020',                          '21/04/2020',
                          '28/03/2020',                          '28/03/2020',
 ...
                          '26/08/2020',                          '31/08/2020',
                          '08/09/2020',                          '29/08/2020',
                          '30/08/2020',                          '29/08/2020',
                          '01/09/2020',                          '02/09/2020',
                          '31/08/2020', datetime.datetime(2020, 12, 16, 0, 0)]
Length: 971, dtype: object

In [47]:
# Identificando a quantidade de dias dos pacientes no hospital
from datetime import datetime
hospital_days_qnt = []

qnt_dates = dbCovid['DT_EVOLUCA'].shape[0]
i = 0
while(i < qnt_dates):
    #internacao_data = internacao_vector[i].strftime('%d/%m/%Y')
    #evolucao_data = evolucao_vector[i].strftime('%d/%m/%Y')
    
    date_ini = datetime.strptime(internacao_vector[i], '%d/%m/%Y').date()
    date_fin = datetime.strptime(evolucao_vector[i], '%d/%m/%Y').date()
    
    num_days = date_fin - date_ini
    
    hospital_days_qnt.append(num_days.days)
    print(i)
    i = i + 1

TypeError: strptime() argument 1 must be str, not datetime.datetime

In [48]:
#Visualizando a quantidade de dias
hospital_days_qnt

[]

In [120]:
#Adicionando a coluna contendo a quantidade de dias
dbCovid['QNT_DIAS'] = hospital_days_qnt
dbCovid = dbCovid.drop(columns=['DT_INTERNA', 'DT_EVOLUCA'])
dbCovid

C:\Users\walla\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,CS_SEXO,NU_IDADE_N,CS_RACA,SURTO_SG,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,...,DIABETES,NEUROLOGIC,PNEUMOPATI,IMUNODEPRE,RENAL,OBESIDADE,UTI,SUPORT_VEN,EVOLUCAO,QNT_DIAS
7,0,ADULTO3,4.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,22
10,1,IDOSO1,4.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,5
12,1,ADULTO3,4.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2
16,1,ADULTO3,4.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,...,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,14
17,1,IDOSO1,4.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175,1,ADULTO2,4.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,0
1176,0,IDOSO2,1.0,2.0,1.0,2.0,2.0,2.0,1.0,1.0,...,1.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,8
1180,0,IDOSO1,4.0,2.0,1.0,1.0,9.0,1.0,1.0,1.0,...,1.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,18
1181,1,ADULTO3,4.0,2.0,9.0,9.0,9.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,3
1186,1,ADULTO2,4.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,4

In [121]:
write = pd.ExcelWriter('dados-preprocessados-novos.xlsx')
dbCovid.to_excel(write, 'novosdados', index = False)
write.save()

In [ ]:
#Importando o sklearn
from sklearn import tree;
from sklearn.model_selection import train_test_split

train = pd.read_excel("dadosSetembroFormatado.xlsx")
#train = pd.read_excel("novosDadosSetembro2.xlsx")

#train['CLASSI_FIN']
train.shape

In [ ]:
#Criando a coluna faixa etária
#train.insert(loc = 10, column = "FAIXA_ETARIA", value = newData['NU_IDADE_N'])
#train.head()

In [ ]:
train['NU_IDADE_N'].isnull().sum()

In [ ]:
#Colocando apenas as instâncias do COVID
#train.drop(train[train.CLASSI_FIN != "COVID19"].index, inplace = True)
train.shape

In [ ]:
# Filtrando os atributos - baseando-se na importância
newAtributes = ["NU_IDADE_N", "CS_RACA", "SURTO_SG", "FEBRE", "TOSSE", "GARGANTA", 
              "DISPNEIA", "DESC_RESP", "SATURACAO", "DIARREIA","VOMITO", "CARDIOPATI", 
              "DIABETES", "PNEUMOPATI", "OBESIDADE", "UTI", "SUPORT_VEN", "CLASSI_FIN", "EVOLUCAO"]

tTrain = train[newAtributes];

In [ ]:
# Excluindo a Idade
#train.drop(train['NU_IDADE_N'].index, inplace = True)
train.head()

In [ ]:
#Usando o getDummies
newTrain = pd.get_dummies(tTrain, prefix=["NU_IDADE_N", "CS_RACA", "SURTO_SG", "FEBRE", "TOSSE", "GARGANTA", 
              "DISPNEIA", "DESC_RESP", "SATURACAO", "DIARREIA","VOMITO", "CARDIOPATI", 
              "DIABETES", "PNEUMOPATI", "OBESIDADE", "UTI", "SUPORT_VEN", "CLASSI_FIN"])

#newTrain = pd.get_dummies(train, prefix=["NU_IDADE_N", "CS_RACA", "SURTO_SG", "FEBRE", "TOSSE", "GARGANTA", 
#              "DISPNEIA", "DESC_RESP", "SATURACAO", "DIARREIA","VOMITO", "PUERPERA", "CARDIOPATI", 
#              "HEMATOLOGI", "SIND_DOWN", "HEPATICA", "ASMA", "DIABETES", "NEUROLOGIC",	"PNEUMOPATI",
#              "IMUNODEPRE", "RENAL",	"OBESIDADE", "UTI", "SUPORT_VEN", "CLASSI_FIN"]);

In [ ]:
newTrain.head()

   EVOLUCAO  NU_IDADE_N_ADULTO  ...  CLASSI_FIN_SRAG3  CLASSI_FIN_SRAG4
0         0                  0  ...                 0                 0
1         0                  0  ...                 0                 0
2         1                  0  ...                 0                 0
3         0                  0  ...                 0                 1
4         0                  1  ...                 0                 1

[5 rows x 62 columns]

In [ ]:
write = pd.ExcelWriter('setembroDummies.xlsx')
newTrain.to_excel(write, 'novosdados', index = False)
write.save()

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(newTrain.drop('EVOLUCAO',
                                                    axis=1),
                                                    newTrain['EVOLUCAO'],
                                                    test_size=0.3,
                                                    random_state=42);

In [ ]:
y_train.head()

481    1
944    2
835    1
228    2
692    2
Name: EVOLUCAO, dtype: int64

In [ ]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
classifier_rf = RandomForestClassifier(random_state=1986, criterion='entropy', max_depth=10, n_estimators=25, n_jobs=-1)
classifier_rf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=10, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=25, n_jobs=-1,
                       oob_score=False, random_state=1986, verbose=0,
                       warm_start=False)

In [ ]:
# Random Forest - Predição
resultRF = classifier_rf.predict(x_test)

In [ ]:
# Verificando a Acurácia
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, resultRF))

0.7594501718213058

In [ ]:
#Criando a árvore de decisão
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x_train, y_train)

In [ ]:
#Recuperando o resultado da saída
result = clf.predict(x_test)
#result = clf.predict(x_train)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, result))

0.6597938144329897

In [ ]:
clf.feature_importances_

array([0.02802557, 0.30498694, 0.01574648, 0.00265325, 0.01500956,
       0.01824476, 0.01684775, 0.03142109, 0.01349346, 0.03109605,
       0.00431846, 0.01252797, 0.00657891, 0.01451485, 0.        ,
       0.        , 0.        , 0.00809712, 0.        , 0.00249439,
       0.        , 0.00303642, 0.        , 0.00126517, 0.        ,
       0.00632402, 0.03247535, 0.00404856, 0.00346646, 0.00136639,
       0.        , 0.00656192, 0.00753671, 0.        , 0.01056928,
       0.        , 0.        , 0.00157011, 0.01788746, 0.01248306,
       0.01112373, 0.03892291, 0.02254849, 0.02115785, 0.22936554,
       0.0065513 , 0.00681113, 0.01684876, 0.        , 0.        ,
       0.        , 0.01202277])

In [ ]:
target_class = covidNewData['EVOLUCAO'];
target_class.loc[[0]] = 1;
target_class.value_counts()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1.0    548
2.0    422
Name: EVOLUCAO, dtype: int64

In [ ]:
write.save()

In [ ]:
#Rhaylson
arquivo = open('faltosos.txt','w')
atributos_count = newData.dados.isnull().sum()
    for chave in atributos_count.keys():
        valor = atributos_count.get(chave)
        arquivo.write(str(chave) +" - "+str(atributos_count.get(chave))+"\n")

In [ ]:
#Trocando os valores de 1 e 2 para Curado e Obito
n['evolucao'].replace(1, 'Curado', inplace = True)

C:\Users\walla\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [ ]:
#Trocando os valores de 1 e 2 para Curado e Obito
newData['evolucao'].replace(2, 'Obito', inplace = True)

In [ ]:
#Exibindo os novos valores
newData['evolucao']

In [ ]:
#Criando a coluna faixa etária
newData.insert(loc = 10, column = "faixa_etaria", value = newData['nu_idade_n'])

In [ ]:
#Substituindo as idades por classificação
for i in range (0, 12):
    newData['faixa_etaria'].replace(i, 'Criança', inplace = True)
    
for i in range (12, 20):
    newData['faixa_etaria'].replace(i, 'Jovem', inplace = True)
    
for i in range (20, 60):
    newData['faixa_etaria'].replace(i, 'Adulto', inplace = True)
    
for i in range (60, 110):
    newData['faixa_etaria'].replace(i, 'Idoso', inplace = True)

In [ ]:
#Visualizando os dados
newData['faixa_etaria']
#newData['faixa_etaria'].value_counts()

0      Criança
2       Adulto
3        Idoso
4        Idoso
5       Adulto
        ...
915      Idoso
919     Adulto
920      Idoso
928    Criança
936      Idoso
Name: faixa_etaria, Length: 720, dtype: object

In [ ]:
write = pd.ExcelWriter('novosDados.xlsx')

In [ ]:
newData.to_excel(write, 'novosdados', index = False)

In [ ]:
write.save()