In [2]:
import pandas as pd

In [4]:
covidData = pd.read_excel("../database/dados-preprocessados2-novos.xlsx")

In [5]:
covidData

,CS_SEXO,NU_IDADE_N,CS_RACA,SURTO_SG,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,...,NEUROLOGIC,PNEUMOPATI,IMUNODEPRE,RENAL,OBESIDADE,UTI,SUPORT_VEN,DT_INTERNA,DT_EVOLUCA,EVOLUCAO
0,0,4,9,2,1,1,2,1,1,1,...,2,2,2,2,2,2,3,2020-03-11 00:00:00,13/03/2020,1
1,1,20,4,2,1,1,2,1,1,1,...,2,2,2,1,2,2,2,2020-03-15 00:00:00,31/03/2020,1
2,1,84,4,2,2,1,2,1,1,1,...,2,2,2,1,2,1,2,2020-03-17 00:00:00,01/04/2020,1
3,1,62,4,2,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2020-03-13 00:00:00,22/03/2020,1
4,0,50,4,2,1,1,1,1,1,1,...,2,2,2,2,2,1,2,2020-03-20 00:00:00,11/04/2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,0,81,1,2,2,1,2,1,1,1,...,2,1,2,2,2,2,2,2020-08-28 00:00:00,29/08/2020,2
967,0,67,1,2,1,2,2,1,2,1,...,2,2,2,2,2,2,3,2020-08-28 00:00:00,01/09/2020,1
968,1,58,4,2,2,1,1,1,1,1,...,1,2,2,2,2,1,2,02/09/2020,02/09/2020,2
969,0,73,4,2,2,1,2,1,2,1,...,2,1,2,2,2,2,2,2020-08-25 00:00:00,31/08/2020,1
970,0,54,4,2,2,2,1,1,2,2,...,1,2,2,2,2,2020-10-08 00:00:00,6,RN,2020-12-16 00:00:00,2020-10-09 00:00:00

# Verificando a importância dos atributos

In [6]:
# 20 Atributos
#attributes = ["NU_IDADE_N", "CS_RACA", "FEBRE", "TOSSE", "GARGANTA", "QNT_DIAS", "DISPNEIA", "DESC_RESP", 
#              "FATOR_RISC", "SURTO_SG", "CARDIOPATI", "DIABETES", "PNEUMOPATI", "SATURACAO", 
#                "DIARREIA", "VOMITO", "OBESIDADE", "UTI", "SUPORT_VEN", "EVOLUCAO"]

# 16 Atributos
#attributes = ["NU_IDADE_N", "CS_RACA", "FEBRE", "TOSSE", "GARGANTA", "QNT_DIAS", "DISPNEIA", "DESC_RESP", "FATOR_RISC", 
#               "SATURACAO", "DIARREIA","VOMITO", "OBESIDADE", "UTI", "SUPORT_VEN", "EVOLUCAO"]


#covidDataFormat = covidData[attributes]
covidDataFormat = covidData
covidDataFormat

,CS_SEXO,NU_IDADE_N,CS_RACA,SURTO_SG,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,...,NEUROLOGIC,PNEUMOPATI,IMUNODEPRE,RENAL,OBESIDADE,UTI,SUPORT_VEN,DT_INTERNA,DT_EVOLUCA,EVOLUCAO
0,0,4,9,2,1,1,2,1,1,1,...,2,2,2,2,2,2,3,2020-03-11 00:00:00,13/03/2020,1
1,1,20,4,2,1,1,2,1,1,1,...,2,2,2,1,2,2,2,2020-03-15 00:00:00,31/03/2020,1
2,1,84,4,2,2,1,2,1,1,1,...,2,2,2,1,2,1,2,2020-03-17 00:00:00,01/04/2020,1
3,1,62,4,2,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2020-03-13 00:00:00,22/03/2020,1
4,0,50,4,2,1,1,1,1,1,1,...,2,2,2,2,2,1,2,2020-03-20 00:00:00,11/04/2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,0,81,1,2,2,1,2,1,1,1,...,2,1,2,2,2,2,2,2020-08-28 00:00:00,29/08/2020,2
967,0,67,1,2,1,2,2,1,2,1,...,2,2,2,2,2,2,3,2020-08-28 00:00:00,01/09/2020,1
968,1,58,4,2,2,1,1,1,1,1,...,1,2,2,2,2,1,2,02/09/2020,02/09/2020,2
969,0,73,4,2,2,1,2,1,2,1,...,2,1,2,2,2,2,2,2020-08-25 00:00:00,31/08/2020,1
970,0,54,4,2,2,2,1,1,2,2,...,1,2,2,2,2,2020-10-08 00:00:00,6,RN,2020-12-16 00:00:00,2020-10-09 00:00:00

In [34]:
#Substituindo os dias por classificação

covidDataFormat['QNT_DIAS'].replace(0, 0, inplace = True)

for i in range (1, 8):
    covidDataFormat['QNT_DIAS'].replace(i, 1, inplace = True)
    
for i in range (8, 15):
    covidDataFormat['QNT_DIAS'].replace(i, 2, inplace = True)
    
for i in range (15, 22):
    covidDataFormat['QNT_DIAS'].replace(i, 3, inplace = True)

for i in range (22, 29):
    covidDataFormat['QNT_DIAS'].replace(i, 4, inplace = True)

for i in range (29, 36):
    covidDataFormat['QNT_DIAS'].replace(i, 5, inplace = True)

for i in range (36, 43):
    covidDataFormat['QNT_DIAS'].replace(i, 6, inplace = True)

for i in range (43, 50):
    covidDataFormat['QNT_DIAS'].replace(i, 7, inplace = True)

for i in range (50, 200):
    covidDataFormat['QNT_DIAS'].replace(i, 8, inplace = True)

In [35]:
covidDataFormat.head()

,CS_SEXO,NU_IDADE_N,CS_RACA,SURTO_SG,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,...,DIABETES,NEUROLOGIC,PNEUMOPATI,IMUNODEPRE,RENAL,OBESIDADE,UTI,SUPORT_VEN,EVOLUCAO,QNT_DIAS
0,0,ADULTO3,4,2,1,1,1,1,1,1,...,2,2,2,2,2,2,1,2,1,4
1,1,IDOSO1,4,2,1,1,1,1,1,1,...,1,2,2,2,2,2,2,2,1,1
2,1,ADULTO3,4,2,1,1,2,1,1,1,...,2,2,2,2,2,2,2,1,2,1
3,1,ADULTO3,4,2,1,1,2,1,1,1,...,1,2,2,2,2,2,1,1,2,2
4,1,IDOSO1,4,2,1,1,2,1,1,1,...,2,2,2,2,2,2,2,2,1,1

In [36]:
#Substituindo as idades por classificação
idade_valores = {'CRIANCA': 0, 'JOVEM': 1, 'ADULTO1': 2, 'ADULTO2': 3, 'ADULTO3': 4, 'IDOSO1': 5, 'IDOSO2': 6, 'IDOSO3': 7}

covidDataFormat['NU_IDADE_N'] = covidDataFormat['NU_IDADE_N'].map(idade_valores)
covidDataFormat.head()

,CS_SEXO,NU_IDADE_N,CS_RACA,SURTO_SG,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,...,DIABETES,NEUROLOGIC,PNEUMOPATI,IMUNODEPRE,RENAL,OBESIDADE,UTI,SUPORT_VEN,EVOLUCAO,QNT_DIAS
0,0,4,4,2,1,1,1,1,1,1,...,2,2,2,2,2,2,1,2,1,4
1,1,5,4,2,1,1,1,1,1,1,...,1,2,2,2,2,2,2,2,1,1
2,1,4,4,2,1,1,2,1,1,1,...,2,2,2,2,2,2,2,1,2,1
3,1,4,4,2,1,1,2,1,1,1,...,1,2,2,2,2,2,1,1,2,2
4,1,5,4,2,1,1,2,1,1,1,...,2,2,2,2,2,2,2,2,1,1

In [37]:
# Trocando o nome da coluna QNT_DIAS
covidDataFormat = covidDataFormat.rename(columns={'QNT_DIAS': 'QNT_SEMANAS'})

# Trocando os valores de NU_IDADE_N
# Ta sendo feito acima
#valores = ['ADULTO1', 'ADULTO2', 'ADULTO3']
#novosValores = [1, 2, 3]

#covidDataFormat['NU_IDADE_N'].replace(valores, novosValores, inplace = True)

In [28]:
covidDataFormat

,NU_IDADE_N,CS_RACA,FEBRE,TOSSE,GARGANTA,QNT_SEMANAS,DISPNEIA,DESC_RESP,FATOR_RISC,SURTO_SG,CARDIOPATI,DIABETES,PNEUMOPATI,SATURACAO,DIARREIA,VOMITO,OBESIDADE,UTI,SUPORT_VEN,EVOLUCAO
0,4,4,1,1,1,22,1,1,1,2,1,2,2,1,2,2,2,1,2,1
1,5,4,1,1,1,5,1,1,1,2,2,1,2,1,2,2,2,2,2,1
2,4,4,1,1,2,2,1,1,2,2,2,2,2,1,1,2,2,2,1,2
3,4,4,1,1,2,14,1,1,1,2,2,1,2,1,2,2,2,1,1,2
4,5,4,1,1,2,6,1,1,2,2,2,2,2,1,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
769,3,4,2,1,2,0,1,1,2,2,2,2,2,1,2,2,2,2,2,1
770,6,1,1,2,2,8,2,1,1,2,1,1,2,1,1,2,2,1,2,1
771,5,4,1,1,9,18,1,1,1,2,2,1,2,1,9,9,2,1,2,2
772,4,4,9,9,9,3,1,1,1,2,1,2,2,1,9,9,2,2,2,1
773,3,4,2,2,1,4,1,1,1,2,1,2,2,1,1,1,2,2,2,1

In [38]:
#Salvando o arquivo
write = pd.ExcelWriter('dados-preprocessados-novos-organizados.xlsx')
covidDataFormat.to_excel(write, 'novosdados', index = False)
write.save()

# Aplicando o Modelo

In [16]:
# Dividindo os dados em conjunto de teste e treinamento
from sklearn import tree;
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(covidDataFormat.drop('EVOLUCAO',
                                                    axis=1),
                                                    covidDataFormat['EVOLUCAO'],
                                                    test_size=0.3,
                                                    random_state=42);

In [17]:
# Executando o modelo Random Forest
from sklearn.ensemble import RandomForestClassifier
classifier_rf = RandomForestClassifier(random_state=1986, criterion='entropy', max_depth= 10, n_jobs=-1)
classifier_rf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=10, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=1986, verbose=0,
                       warm_start=False)

In [18]:
#print(classifier_rf.feature_importances_)

feature_importances = pd.DataFrame(classifier_rf.feature_importances_,
                                   index = x_train.columns,
                                    columns=['importance']).sort_values('importance', ascending=False)
feature_importances

            importance
SUPORT_VEN    0.228130
UTI           0.138748
NU_IDADE_N    0.121370
QNT_DIAS      0.067078
SATURACAO     0.048519
FATOR_RISC    0.047812
DESC_RESP     0.045237
CS_RACA       0.044849
TOSSE         0.043406
GARGANTA      0.043061
FEBRE         0.042899
VOMITO        0.038894
DIARREIA      0.038741
DISPNEIA      0.033376
OBESIDADE     0.017879

In [19]:
# O valor possui comorbidade estava atrapalhando a predição
resultRF = classifier_rf.predict(x_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, resultRF))

0.776824034334764

# Substituindos os valores numéricos por strings

In [16]:
# Substituindo os valores numéricosdas doenças e comorbidades por Sim, não ou Ignorado
campos = ['SURTO_SG', 'FEBRE', 'TOSSE', 'GARGANTA', 'DISPNEIA', 'DESC_RESP', 'SATURACAO', 'DIARREIA', 'VOMITO',
          'FATOR_RISC', 'PUERPERA', 'CARDIOPATI', 'HEMATOLOGI', 'SIND_DOWN', 'HEPATICA', 'ASMA',
          'DIABETES', 'NEUROLOGIC', 'PNEUMOPATI', 'IMUNODEPRE', 'RENAL', 'OBESIDADE', 'UTI']

valores = {1 : 'SIM', 2: 'NAO', 9: 'IGNORADO'}

for i in campos:
    covidData[i] = covidData[i].map(valores)
    
covidData

In [21]:
#Substituindo o valor das outras colunas
valores_evolucao = {1: 'CURA', 2: 'OBITO'}
valores_raca = {1: 'BRANCA', 2: 'PRETA', 3: 'AMARELA', 4: 'PARDA', 5: 'INDÍGENA', 9: 'IGNORADO'}
valores_sexo = {1: 'MASCULINO', 0: 'FEMININO'}
valores_respirador = {1: 'INVASIVO', 2: 'NAO_INVASIVO', 3: 'NAO', 9: 'IGNORADO'}

covidData['EVOLUCAO'] = covidData['EVOLUCAO'].map(valores_evolucao)
covidData['CS_RACA'] = covidData['CS_RACA'].map(valores_raca)
covidData['CS_SEXO'] = covidData['CS_SEXO'].map(valores_sexo)
covidData['SUPORT_VEN'] = covidData['SUPORT_VEN'].map(valores_respirador)

In [22]:
#Substituindo os dias por classificação

covidData['QNT_DIAS'].replace(0, 'NENHUM_DIA', inplace = True)

for i in range (1, 8):
    covidData['QNT_DIAS'].replace(i, '1_SEMANA', inplace = True)
    
for i in range (8, 15):
    covidData['QNT_DIAS'].replace(i, '2_SEMANAS', inplace = True)
    
for i in range (15, 22):
    covidData['QNT_DIAS'].replace(i, '3_SEMANAS', inplace = True)

for i in range (22, 29):
    covidData['QNT_DIAS'].replace(i, '4_SEMANAS', inplace = True)

for i in range (29, 36):
    covidData['QNT_DIAS'].replace(i, '5_SEMANAS', inplace = True)

for i in range (36, 43):
    covidData['QNT_DIAS'].replace(i, '6_SEMANAS', inplace = True)

for i in range (43, 50):
    covidData['QNT_DIAS'].replace(i, '7_SEMANAS', inplace = True)

for i in range (50, 200):
    covidData['QNT_DIAS'].replace(i, 'MAIS_7_SEMANAS', inplace = True)

In [25]:
# covidData['QNT_DIAS'].value_counts()
# covidData['CS_SEXO'].value_counts()
covidData

,CS_SEXO,NU_IDADE_N,CS_RACA,SURTO_SG,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,...,DIABETES,NEUROLOGIC,PNEUMOPATI,IMUNODEPRE,RENAL,OBESIDADE,UTI,SUPORT_VEN,EVOLUCAO,QNT_DIAS
0,FEMININO,ADULTO3,PARDA,NAO,SIM,SIM,SIM,SIM,SIM,SIM,...,NAO,NAO,NAO,NAO,NAO,NAO,SIM,NAO_INVASIVO,CURA,4_SEMANAS
1,MASCULINO,IDOSO1,PARDA,NAO,SIM,SIM,SIM,SIM,SIM,SIM,...,SIM,NAO,NAO,NAO,NAO,NAO,NAO,NAO_INVASIVO,CURA,1_SEMANA
2,MASCULINO,ADULTO3,PARDA,NAO,SIM,SIM,NAO,SIM,SIM,SIM,...,NAO,NAO,NAO,NAO,NAO,NAO,NAO,INVASIVO,OBITO,1_SEMANA
3,MASCULINO,ADULTO3,PARDA,NAO,SIM,SIM,NAO,SIM,SIM,SIM,...,SIM,NAO,NAO,NAO,NAO,NAO,SIM,INVASIVO,OBITO,2_SEMANAS
4,MASCULINO,IDOSO1,PARDA,NAO,SIM,SIM,NAO,SIM,SIM,SIM,...,NAO,NAO,NAO,NAO,NAO,NAO,NAO,NAO_INVASIVO,CURA,1_SEMANA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
769,MASCULINO,ADULTO2,PARDA,NAO,NAO,SIM,NAO,SIM,SIM,SIM,...,NAO,NAO,NAO,NAO,NAO,NAO,NAO,NAO_INVASIVO,CURA,NENHUM_DIA
770,FEMININO,IDOSO2,BRANCA,NAO,SIM,NAO,NAO,NAO,SIM,SIM,...,SIM,NAO,NAO,NAO,NAO,NAO,SIM,NAO_INVASIVO,CURA,2_SEMANAS
771,FEMININO,IDOSO1,PARDA,NAO,SIM,SIM,IGNORADO,SIM,SIM,SIM,...,SIM,NAO,NAO,NAO,NAO,NAO,SIM,NAO_INVASIVO,OBITO,3_SEMANAS
772,MASCULINO,ADULTO3,PARDA,NAO,IGNORADO,IGNORADO,IGNORADO,SIM,SIM,SIM,...,NAO,NAO,NAO,NAO,NAO,NAO,NAO,NAO_INVASIVO,CURA,1_SEMANA
773,MASCULINO,ADULTO2,PARDA,NAO,NAO,NAO,SIM,SIM,SIM,SIM,...,NAO,NAO,NAO,NAO,NAO,NAO,NAO,NAO_INVASIVO,CURA,1_SEMANA