In [1]:
import pandas as pd
import import_ipynb
import preprocessamentofuncoes as pp

importing Jupyter notebook from preprocessamentofuncoes.ipynb

In [2]:
#uf = "sp"
lote = "oc-7030-sp.xlsx"

urlBase = "BasesBalanceadas/Obito-Curado/" + lote

#print(urlBase)
covidData = pd.read_excel(urlBase)

In [6]:
teste = covidData.loc[1]
teste['dataPrimeiraDose']

'2021-04-01'

In [8]:
pp.dataValida(teste['dataPrimeiraDose'])

True

In [21]:
covidData.loc[((covidData['dataPrimeiraDose'].isnull()) & 
               (covidData['dataSegundaDose'].isnull())) , 'qntVacinas'] = 0

covidData.loc[((covidData['dataPrimeiraDose'].isnull() == False) & 
               (covidData['dataSegundaDose'].isnull())) , 'qntVacinas'] = 1

covidData.loc[((covidData['dataPrimeiraDose'].isnull()) & 
               (covidData['dataSegundaDose'].isnull() == False)) , 'qntVacinas'] = 1

covidData.loc[((covidData['dataPrimeiraDose'].isnull() == False) & 
               (covidData['dataSegundaDose'].isnull() == False)) , 'qntVacinas'] = 2

covidData[['dataPrimeiraDose', 'dataSegundaDose', 'qntVacinas']].head(500)

#covidData['qntVacinas'].value_counts()

    dataPrimeiraDose dataSegundaDose  qntVacinas
0                NaN             NaN         0.0
1         2021-04-01      2021-04-28         2.0
2                NaN             NaN         0.0
3                NaN             NaN         0.0
4                NaN             NaN         0.0
..               ...             ...         ...
495       2021-04-15      2021-07-08         2.0
496       2021-04-16      2021-05-14         2.0
497       2021-04-19             NaN         1.0
498       2021-04-20             NaN         1.0
499              NaN      2021-11-04         1.0

[500 rows x 3 columns]

In [22]:
# covidData

,sexo,racaCor,dataPrimeiraDose,dataSegundaDose,evolucaoCaso,assintomatico,febre,dorDeGarganta,dispneia,tosse,...,obesidade,renal,respiratoria,imunossupressao,fragilidadeImuno,gestante,cardiaca,puerpera,faixaetaria,qntVacinas
0,1,0,NaN,NaN,0,0,0,0,1,1,...,0,1,0,0,0,0,0,0,6,0.0
1,1,0,2021-04-01,2021-04-28,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,5,2.0
2,0,0,NaN,NaN,0,0,0,0,1,1,...,0,0,0,1,0,0,0,0,4,0.0
3,1,0,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,0.0
4,1,0,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7067,0,0,2021-03-03,2021-03-24,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,6,2.0
7068,1,3,2021-06-24,NaN,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,4,1.0
7069,0,0,2021-05-19,NaN,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,3,1.0
7070,0,0,2021-06-19,2021-09-08,1,0,1,0,1,1,...,0,0,0,0,0,0,0,0,4,2.0
7071,0,0,2021-07-17,2021-08-16,1,0,1,1,0,1,...,0,0,0,0,0,0,0,0,3,2.0

In [23]:
pp.salvarBaseDeDados(covidData, 'oc-vacina-7030-sp.xlsx')

### Convertendo os Valores 0 (NÃ£o Vacinado) e 1 (Vacinado)

In [2]:
base = "oc-vacina-7030-sp.xlsx"
covidData = pd.read_excel(base)

In [4]:
covidData['qntVacinas'].value_counts()

0    2672
2    2369
1    2031
Name: qntVacinas, dtype: int64

In [5]:
covidData['qntVacinas'] = covidData['qntVacinas'].map({0:0, 1:1, 2:1})

In [6]:
covidData['qntVacinas'].value_counts()

1    4400
0    2672
Name: qntVacinas, dtype: int64

In [7]:
pp.salvarBaseDeDados(covidData, 'oc-vacina-7030-sp-v2.xlsx')