In [1]:
import pandas as pd

In [9]:
covidData = pd.read_csv("../../database/dadosSP22.csv", on_bad_lines='skip')

/home/wallece/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (2,13,20,26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
#Visualizando Dados
covidData.head()
covidData.shape

(652852, 28)

In [11]:
#Verificando a dimensão da Tabela
covidData.columns

Index(['id', 'estadoNotificacao', 'estadoNotificacaoIBGE',
       'municipioNotificacao', 'municipioNotificacaoIBGE', 'profissionalSaude',
       'profissionalSeguranca', 'cbo', 'sexo', 'racaCor', 'estado',
       'estadoIBGE', 'municipio', 'municipioIBGE', 'dataNotificacao',
       'sintomas', 'outrosSintomas', 'dataInicioSintomas', 'condicoes',
       'estadoTeste', 'dataTeste', 'tipoTeste', 'resultadoTeste',
       'classificacaoFinal', 'evolucaoCaso', 'dataEncerramento', 'cnes',
       'idade'],
      dtype='object')

In [13]:
covidData['evolucaoCaso'].value_counts()

Negativo                         245887
Positivo                         132611
Inconclusivo ou Indeterminado       602
Name: resultadoTeste, dtype: int64

# Pré-processamento dos Dados

In [32]:
#Verificando a quantidade de dados faltantes por colunas
faltantes = covidData.isnull().sum()
faltantes_percentual = (covidData.isnull().sum() / len(covidData['DT_NOTIFIC'])) * 100

In [34]:
#Exibindo a porcentagem/quantidade de dados ausentes
print(faltantes_percentual['DIABETES'])
print(faltantes_percentual['EVOLUCAO'])

alvo = 'UTI'
#print(faltantes['EVOLUCAO'])
print(alvo, faltantes[alvo])

63.77422072451559
2.527379949452401
UTI 50

In [35]:
#Salvando todos os dados que não possuem a evolução vazia
#newData = covidData.loc[covidData['EVOLUCAO'].notnull()]
newData = covidData.loc[covidData[alvo].notnull()]

In [36]:
#Visualizando as novas dimensões dos novos dados
newData.shape

(1137, 165)

In [37]:
#Imprimindo o novo dataset
newData

,NU_NOTIFIC,DT_NOTIFIC,SEM_NOT,DT_SIN_PRI,SEM_PRI,SG_UF_NOT,ID_REGIONA,CO_REGIONA,ID_MUNICIP,CO_MUN_NOT,...,DS_AN_OUT,TP_AM_SOR,SOR_OUT,DT_CO_SOR,TP_SOR,OUT_SOR,DT_RES,RES_IGG,RES_IGM,RES_IGA
0,315843770177,2020-03-11,11,2020-03-08,11,RN,II URSAP,1412,MOSSORO,240800,...,NaN,0,NaN,NaT,0,NaN,NaT,NaN,NaN,NaN
1,315852258039,2020-03-20,12,2020-03-20,12,SP,GVE I CAPITAL,1331,SAO PAULO,355030,...,NaN,0,NaN,NaT,0,NaN,NaT,NaN,NaN,NaN
2,315856537361,2020-03-16,12,2020-03-11,11,CE,1 CRES FORTALEZA,1519,FORTALEZA,230440,...,NaN,0,NaN,NaT,0,NaN,NaT,NaN,NaN,NaN
3,315863608860,2020-04-08,15,2020-03-20,12,CE,1 CRES FORTALEZA,1519,FORTALEZA,230440,...,NaN,0,NaN,NaT,0,NaN,NaT,NaN,NaN,NaN
4,315863711481,2020-03-18,12,2020-03-03,10,RN,II URSAP,1412,MOSSORO,240800,...,NaN,0,NaN,NaT,0,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,316116889978,2021-01-14,2,2020-12-31,53,RN,II URSAP,1412,MOSSORO,240800,...,NaN,0,NaN,NaT,0,NaN,NaT,NaN,NaN,NaN
1183,316118533677,2021-01-05,1,2020-12-20,52,RN,II URSAP,1412,MOSSORO,240800,...,NaN,1,NaN,2021-01-05,3,NaN,2021-01-06,2.0,2.0,NaN
1184,316118592075,2021-01-01,53,2020-12-26,52,RN,II URSAP,1412,MOSSORO,240800,...,NaN,0,NaN,NaT,0,NaN,NaT,NaN,NaN,NaN
1185,316119458662,2021-01-08,1,2020-12-26,52,RN,II URSAP,1412,MOSSORO,240800,...,NaN,0,NaN,NaT,0,NaN,NaT,NaN,NaN,NaN
1186,316119463775,2021-01-11,2,2020-12-30,53,RN,II URSAP,1412,MOSSORO,240800,...,NaN,1,NaN,2021-01-11,3,NaN,2021-01-15,1.0,1.0,NaN

In [38]:
novosFaltantes = newData.isnull().sum()
print(novosFaltantes)

NU_NOTIFIC       0
DT_NOTIFIC       0
SEM_NOT          0
DT_SIN_PRI       0
SEM_PRI          0
              ...
OUT_SOR       1136
DT_RES         997
RES_IGG        983
RES_IGM        979
RES_IGA       1120
Length: 165, dtype: int64

In [40]:
newData[alvo].value_counts()

1.0    656
2.0    479
9.0      2
Name: UTI, dtype: int64

In [41]:
#Verificando quantos casos foram óbitos e recuperados
# alvo = 'EVOLUCAO'
# newDData = newData.drop(newData[newData[alvo]== 3].index);

newDData = newData.drop(newData[newData[alvo] == 9].index);
newDData[alvo].value_counts()

#newData['EVOLUCAO'].value_counts()
#print(newDData.shape)
#newDData.value_counts()

#newDData['EVOLUCAO'].replace(1, 'OBITO', inplace = True);

1.0    656
2.0    479
Name: UTI, dtype: int64

In [42]:
#Eliminando os atributos vazios
covidNewData = newDData.loc[newDData['CLASSI_FIN'].notnull()]
covidNewData.shape

(1120, 165)

In [43]:
covidNewData['CLASSI_FIN'].value_counts()

5.0    762
4.0    350
1.0      3
3.0      3
2.0      2
Name: CLASSI_FIN, dtype: int64

In [13]:
#Calculando os vazios
#attributes = ["CS_SEXO", "NU_IDADE_N", "CS_RACA", "SURTO_SG", "FEBRE", "TOSSE", "GARGANTA", 
#              "DISPNEIA", "DESC_RESP", "SATURACAO", "DIARREIA","VOMITO", "PUERPERA", "CARDIOPATI", 
#              "HEMATOLOGI", "SIND_DOWN", "HEPATICA", "ASMA", "DIABETES", "NEUROLOGIC",	"PNEUMOPATI",
#              "IMUNODEPRE", "RENAL",	"OBESIDADE", "UTI", "SUPORT_VEN", "CLASSI_FIN", "FATOR_RISC", "EVOLUCAO"]
#newData = covidNewData[attributes]
#dados_faltantes = newData.isnull().sum()
#covidNewData['CLASSI_FIN']
#dados_faltantes

In [44]:
# Imprimindo os valores de Problema Renal
covidNewData.RENAL.value_counts()

2.0    118
1.0     53
Name: RENAL, dtype: int64

In [45]:
# Substituindo o valor das comorbidades
covidNewData.loc[covidNewData.FATOR_RISC == 2, ["PUERPERA", "CARDIOPATI", "HEMATOLOGI",
            "SIND_DOWN", "HEPATICA", "ASMA","DIABETES", "NEUROLOGIC", "PNEUMOPATI",
            "IMUNODEPRE", "RENAL", "OBESIDADE"]] = 2;
covidNewData.RENAL.value_counts()

/home/wallece/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

2.0    424
1.0     53
Name: RENAL, dtype: int64

In [46]:
covidNewData.shape

(1120, 165)